div#wrap{
    width: 800px;
    margin: auto;
    background-color: rgb(84,204,255);
    font-family: gotham-rounded, "helvetica neue", helvetica;
    padding: 20px 10px;
}

h1 {
    font-size: 30px;
}

ul{
    text-align: center;
    list-style-type: none;
}

li::first-letter{
    font-size: 30px;
}